/* Custom CSS for transparent sticky navigation bar */
.bg-image {
    background-image: url('images/back-img.jpg'); /* Replace 'your-image-url.jpg' with your image URL */
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-scrolled {
    background-color: white !important;
    transition: background-color 0.3s ease;
}

.navbar-scrolled .navbar-nav .nav-link {
    color: black !important; /* Change the color of the links to black when navbar is scrolled */
}

.navbar-scrolled .navbar-nav .nav-link:hover {
    color: #07B0F2 !important; /* Change the color of the links to black when navbar is scrolled */
}

.navbar-brand img.logo {
    display: block;
}

.navbar-brand img.logo-scrolled {
    display: none;
}

.navbar-scrolled .navbar-brand img.logo {
    display: none;
}

.navbar-scrolled .navbar-brand img.logo-scrolled {
    display: block;
}

/* Custom CSS for navbar with padding */
.navbar {
    padding-top: 18px; /* Add padding to the top of the navbar on the home page */
    padding-bottom: 18px;
  }

  /* Custom CSS for scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }
  
  /* Track (background) */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
  }
  
  /* Handle (thumb) */
  ::-webkit-scrollbar-thumb {
    background: #07B0F2; /* Color of the scrollbar thumb */
  }  

@media (max-width: 767px) {
    .container {
    padding-left: 25px;
    padding-right: 25px;
    }
}

