/* Custom CSS for transparent sticky navigation bar */
.bg-image {
    background-image: url('images/back-img.jpg'); /* Replace 'your-image-url.jpg' with your image URL */
    background-size: cover;
    background-position: right top;
    height: 100vh;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white !important;
}

.nav-link{
    color: black;
}

.nav-link:hover{
    color: #0FB2F2;
}

/* Navbar Toggle */
/* Remove border from toggler */
.navbar-toggler {
    border: 0 !important;
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon{
    width: 28px;
    height: 1.5px;
    background-color: black;
    display: block;
    transition: all 0.3s;
}

/* Adds Space between the lines */
.middle-bar{
    margin: 6px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler[aria-expanded="true"] .top-bar {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.navbar-toggler[aria-expanded="true"] .middle-bar {
    opacity: 0;
}

.navbar-toggler[aria-expanded="true"] .bottom-bar {
    transform: rotate(45deg) translate(-4px, -6px);
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
    background-color: #0FB2F2;
}

/* Color of toggler icon when toggler is clicked (opened) */
.navbar-toggler[aria-expanded="true"] .toggler-icon {
    background-color: #0FB2F2;
}

/* Color of toggler icon when toggler is collapsed (closed) */
.navbar-toggler:not([aria-expanded="true"]) .toggler-icon {
    background-color: black;
}

.navbar-toggler {
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;
}

/* Custom CSS for navbar with padding */
.navbar {
    padding-top: 15px; /* Add padding to the top of the navbar on the home page */
    padding-bottom: 15px;
}

/* Custom CSS for scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}
  
/* Track (background) */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
}
  
/* Handle (thumb) */
::-webkit-scrollbar-thumb {
    background: #0FB2F2; /* Color of the scrollbar thumb */
}

@media (max-width: 767px) {
    .container {
    padding-left: 25px;
    padding-right: 25px;
    }
}

.service {
    padding: 20px;
    text-align: left;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    background-color: #f0f0f0;
    color: black;
}

.selected {
    background-color: #0FB2F2;
    /* color: white; */
}

.service:hover:not(.selected) {
    background-color: #0FB2F2;
    /* color: white; */
}

.service-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 13%;
}

.service-description {
    color: black;
    width: 75% !important;
    margin-left: 13%;
}